// -- IMPORTS

@import 'senselogic-flow/class.styl';
@import 'senselogic-flow/DatePicker.styl';
@import 'senselogic-flow/Switch.styl';
@import 'senselogic-flow/ValuePicker.styl';

// -- CLASSES

defineMarginTopClasses( 75 100 150 200 250 );
defineMarginBottomClasses( 100 150 200 );
definePaddingBottomClasses( 25 50 100 150 200 250 300 350 );
defineSizeClasses( 50 75 90 100 125 150 200 250 280 350 375 400 625 );
defineHeightClasses( 400 );
defineWidthClasses( 100 150 200 250 350 1200 );
definePaddingClasses( 100 );
definePaddingVerticalClasses( 0 25 50 75 100 150 200 250 500 );
definePaddingLateralClasses( 0 25 50 75 100 150 200 250 500 );
definePaddingVerticalMediaClasses( 0 100 150 200 250 500, phone tablet desktop desktop-medium desktop-large desktop-larger desktop-largest );
definePaddingLateralMediaClasses( 0 100 150 200 250 500, phone tablet desktop desktop-medium desktop-large desktop-larger desktop-largest );
defineJustifyContentClasses( flex-start flex-end center space-between space-around space-evenly );
defineAlignItemsClasses( baseline flex-start flex-end center space-between space-around space-evenly );
defineDisplayClasses( flex inline-block );
defineDisplayMediaClasses( flex grid block inline inline-block inline-flex, phone tablet desktop );
defineFlexDirectionClasses( column row );
defineFlexDirectionMediaClasses( column row, phone tablet desktop );
defineTextAlignClasses( left center right );
defineGapClasses( 25 50 75 100 150 );
defineIconClass( default, '/image/icon/default.svg' );
defineIconClass( plant, '/image/icon/plant.svg' );
defineIconClass( facebook-logo, '/image/icon/facebook_logo.svg' );
defineIconClass( google-logo, '/image/icon/google_logo.svg' );
defineIconClass( apple-logo, '/image/icon/apple_logo.svg' );
defineIconClass( moien-logo, '/image/icon/moien_logo.svg' );
defineIconClass( warning, '/image/icon/warning.svg' );
defineIconClass( error, '/image/icon/error.svg' );
defineIconClass( success, '/image/icon/success.svg' );
defineIconClass( informative, '/image/icon/informative.svg' );
defineIconClass( add, '/image/icon/add.svg' );
defineIconClass( declined, '/image/icon/declined.svg' );
defineIconClass( pending, '/image/icon/pending.svg' );
defineIconClass( accepted, '/image/icon/accepted.svg' );
defineIconClass( mastercard, '/image/icon/mastercard.svg' );
defineIconClass( car, '/image/icon/car.svg' );
defineIconClass( gear-six, '/image/icon/gear_six.svg' );
defineIconClass( x-circle, '/image/icon/x_circle.svg' );
defineIconClass( circle-wavy-check, '/image/icon/circle-wavy-check.svg' );
defineIconClass( microphone, '/image/icon/microphone.svg' );
defineIconClass( image, '/image/icon/image.svg' );
defineIconClass( note-pencil, '/image/icon/note_pencil.svg' );
defineIconClass( shield, '/image/icon/shield.svg' );
defineIconClass( crevron-left, '/image/icon/crevron-left.svg' );
defineIconClass( plus, '/image/icon/plus.svg' );
defineIconClass( minus, '/image/icon/minus.svg' );
defineIconClass( children, '/image/icon/children.svg' );
defineIconClass( baby, '/image/icon/baby.svg' );
defineIconClass( pet, '/image/icon/pet.svg' );
defineIconClass( smoking, '/image/icon/smoking.svg' );
defineIconClass( party, '/image/icon/party.svg' );
defineIconClass( pencil, '/image/icon/pencil.svg' );
defineIconClass( user, '/image/icon/user.svg' );
defineIconClass( facebook, '/image/icon/facebook.svg' );
defineIconClass( twitter, '/image/icon/twitter.svg' );
defineIconClass( instagram, '/image/icon/instagram.svg' );
defineIconClass( linkedin, '/image/icon/linkedin.svg' );
defineIconClass( link, '/image/icon/link.svg' );
defineIconClass( cookie, '/image/icon/cookie.svg' );
defineIconClass( hipercard, '/image/icon/hipercard.svg' );
defineIconClass( diners, '/image/icon/diners.svg' );
defineIconClass( amex, '/image/icon/amex.svg' );
defineIconClass( mastercard, '/image/icon/mastercard.svg' );
defineIconClass( visa, '/image/icon/visa.svg' );
defineIconClass( discover, '/image/icon/discover.svg' );
defineIconClass( jcb, '/image/icon/jcb.svg' );
defineIconClass( aura, '/image/icon/aura.svg' );
defineIconClass( maestro, '/image/icon/maestro.svg' );
defineIconClass( chip, '/image/icon/chip.svg' );
defineIconClass( moien-neutral, '/image/icon/moien_neutral.svg' );
defineIconClass( moien-empty-logo, '/image/icon/moien_empty_logo.svg' );
defineIconClass( moien-happy-logo, '/image/ratings/very_good_filled.svg' )
defineColorIconClass( white-filled-pencil, whiteColor, '/image/icon/filled_pencil.svg' );
defineColorIconClass( green-star, greenColor, '/image/icon/star.svg' );
defineColorIconClass( green-300-outlined-star, greenColor300, '/image/icon/outlined_star.svg' );
defineColorIconClass( green-300-export, greenColor300, '/image/icon/export.svg' );
defineColorIconClass( green-cookie, greenColor100, '/image/icon/cookie.svg' );
defineColorIconClass( white-check, whiteColor, '/image/icon/check.svg' );
defineColorIconClass( green-children, greenColor, '/image/icon/children.svg' );
defineColorIconClass( green-baby, greenColor, '/image/icon/baby.svg' );
defineColorIconClass( green-pet, greenColor, '/image/icon/pet.svg' );
defineColorIconClass( green-smoking, greenColor, '/image/icon/smoking.svg' );
defineColorIconClass( green-party, greenColor, '/image/icon/party.svg' );
defineColorIconClass( green-coins, greenColor, '/image/icon/coins.svg' );
defineColorIconClass( green-user-check, greenColor, '/image/icon/user_check.svg' );
defineColorIconClass( green-phone, greenColor, '/image/icon/phone.svg' );
defineColorIconClass( green-400-crevron-left, greenColor500, '/image/icon/crevron_left.svg' );
defineColorIconClass( green-shield, greenColor, '/image/icon/shield.svg' );
defineColorIconClass( green-note-pencil, greenColor, '/image/icon/note_pencil.svg' );
defineColorIconClass( green-microphone, greenColor, '/image/icon/microphone.svg' );
defineColorIconClass( green-image, greenColor, '/image/icon/image.svg' );
defineColorIconClass( red-400-x-circle, redColor300, '/image/icon/x_circle.svg' );
defineColorIconClass( white-gear-six, whiteColor, '/image/icon/gear_six.svg' );
defineColorIconClass( blue-gear-six, blueColor, '/image/icon/gear_six.svg' );
defineColorIconClass( green-car, greenColor, '/image/icon/car.svg' );
defineColorIconClass( blue-plus-circle, blueColor, '/image/icon/plus_circle.svg' );
defineColorIconClass( green-plus-circle, greenColor, '/image/icon/plus_circle.svg' );
defineColorIconClass( gray-900-favorite, grayColor700, '/image/icon/favorite.svg' );
defineColorIconClass( green-favorite, greenColor, '/image/icon/favorite.svg' );
defineColorIconClass( gray-close, grayColor, '/image/icon/x.svg' );
defineColorIconClass( gray-900-close, grayColor700, '/image/icon/x.svg' );
defineColorIconClass( white-close, whiteColor, '/image/icon/x.svg' );
defineColorIconClass( gray-backpack, grayColor, '/image/icon/backpack.svg' );
defineColorIconClass( green-backpack, greenColor, '/image/icon/backpack.svg' );
defineColorIconClass( gray-chat, grayColor, '/image/icon/chat.svg' );
defineColorIconClass( gray-500-chat, grayColor500, '/image/icon/chat.svg' );
defineColorIconClass( green-house, greenColor, '/image/icon/house.svg' );
defineColorIconClass( gray-house, grayColor, '/image/icon/house.svg' );
defineColorIconClass( gray-500-house, grayColor500, '/image/icon/house.svg' );
defineColorIconClass( gray-down-caret, grayColor, '/image/icon/down_caret.svg' );
defineColorIconClass( gray-favorite, grayColor, '/image/icon/favorite.svg' );
defineColorIconClass( red-favorite, redColor, '/image/icon/favorite.svg' );
defineColorIconClass( gray-hamburger, grayColor, '/image/icon/hamburger.svg' );
defineColorIconClass( white-left-caret, whiteColor, '/image/icon/left_caret.svg' );
defineColorIconClass( gray-left-caret, grayColor, '/image/icon/left_caret.svg' );
defineColorIconClass( green-left-caret, greenColor, '/image/icon/left_caret.svg' );
defineColorIconClass( blue-left-caret, blueColor, '/image/icon/left_caret.svg' );
defineColorIconClass( white-right-caret, whiteColor, '/image/icon/right_caret.svg' );
defineColorIconClass( gray-right-caret, grayColor, '/image/icon/right_caret.svg' );
defineColorIconClass( green-right-caret, greenColor, '/image/icon/right_caret.svg' );
defineColorIconClass( blue-right-caret, blueColor, '/image/icon/right_caret.svg' );
defineColorIconClass( red-500-right-caret, redColor500, '/image/icon/right_caret.svg' );
defineColorIconClass( white-right-caret, whiteColor, '/image/icon/right_caret.svg' );
defineColorIconClass( gray-left-arrow, grayColor, '/image/icon/left_arrow.svg' );
defineColorIconClass( gray-right-arrow, grayColor, '/image/icon/right_arrow.svg' );
defineColorIconClass( blue-200-right-arrow, blueColor100, '/image/icon/right_arrow.svg' );
defineColorIconClass( white-right-arrow, whiteColor, '/image/icon/right_arrow.svg' );
defineColorIconClass( gray-up-caret, grayColor, '/image/icon/up_caret.svg' );
defineColorIconClass( green-calendar, greenColor, '/image/icon/calendar.svg' );
defineColorIconClass( gray-calendar, grayColor, '/image/icon/calendar.svg' );
defineColorIconClass( gray-500-calendar, grayColor500, '/image/icon/calendar.svg' );
defineColorIconClass( green-default, greenColor, '/image/icon/calendar.svg' );
defineColorIconClass( gray-decrease, grayColor, '/image/icon/decrease.svg' );
defineColorIconClass( green-email, greenColor, '/image/icon/email.svg' );
defineColorIconClass( green-filter, greenColor, '/image/icon/filter.svg' );
defineColorIconClass( green-guests, greenColor, '/image/icon/guests.svg' );
defineColorIconClass( gray-guests, grayColor, '/image/icon/guests.svg' );
defineColorIconClass( gray-500-guests, grayColor500, '/image/icon/guests.svg' );
defineColorIconClass( gray-place, grayColor700, '/image/icon/place.svg' );
defineColorIconClass( gray-location, grayColor700, '/image/icon/location.svg' );
defineColorIconClass( blue-location, blueColor, '/image/icon/location.svg' );
defineColorIconClass( green-decrease, greenColor, '/image/icon/decrease.svg' );
defineColorIconClass( green-increase, greenColor, '/image/icon/increase.svg' );
defineColorIconClass( green-pin, greenColor, '/image/icon/map_pin_line.svg' );
defineColorIconClass( green-email, greenColor, '/image/icon/email.svg' );
defineColorIconClass( green-submit, greenColor, '/image/icon/submit.svg' );
defineColorIconClass( green-check, greenColor, '/image/icon/check.svg' );
defineColorIconClass( green-location, greenColor, '/image/icon/location.svg' );
defineColorIconClass( green-place, greenColor, '/image/icon/place.svg' );
defineColorIconClass( green-recent, greenColor, '/image/icon/recent.svg' );
defineColorIconClass( green-right-arrow, greenColor, '/image/icon/right_arrow.svg' );
defineColorIconClass( green-right-caret, greenColor, '/image/icon/right_caret.svg' );
defineColorIconClass( blue-right-arrow, blueColor, '/image/icon/right_arrow.svg' );
defineColorIconClass( blue-list, blueColor, '/image/icon/list.svg' );
defineColorIconClass( white-list, whiteColor, '/image/icon/list.svg' );
defineColorIconClass( green-search, greenColor, '/image/icon/search.svg' );
defineColorIconClass( gray-search, grayColor, '/image/icon/search.svg' );
defineColorIconClass( gray-500-search, grayColor500, '/image/icon/search.svg' );
defineColorIconClass( green-verified, greenColor, '/image/icon/verified.svg' );
defineColorIconClass( blue-100-verified, blueColor100, '/image/icon/verified.svg' );
defineColorIconClass( bold-white-eye, whiteColor, '/image/icon/bold_eye.svg' );
defineColorIconClass( green-eye, greenColor, '/image/icon/eye.svg' );
defineColorIconClass( green-heart, greenColor, '/image/icon/heart_straight.svg' );
defineColorIconClass( green-user, greenColor, '/image/icon/user.svg' );
defineColorIconClass( green-address-book, greenColor, '/image/icon/address_book.svg' );
defineColorIconClass( green-files, greenColor, '/image/icon/files.svg' );
defineColorIconClass( green-currency-circle, greenColor, '/image/icon/currency_circle_dollar.svg' );
defineColorIconClass( green-cardholder, greenColor, '/image/icon/cardholder.svg' );
defineColorIconClass( green-presentation-chart, greenColor, '/image/icon/presentation_chart.svg' );
defineColorIconClass( green-settings, greenColor, '/image/icon/settings.svg' );
defineColorIconClass( green-bell, greenColor, '/image/icon/bell_simple.svg' );
defineColorIconClass( green-list-dashes, greenColor, '/image/icon/list_dashes.svg' );
defineColorIconClass( green-list-checks, greenColor, '/image/icon/list_checks.svg' );
defineColorIconClass( green-clock, greenColor, '/image/icon/clock.svg' );
defineColorIconClass( green-check, greenColor, '/image/icon/check.svg' );
defineColorIconClass( green-calendar-check, greenColor, '/image/icon/calendar_check.svg' );
defineColorIconClass( green-device-tablet-speaker, greenColor, '/image/icon/device_tablet_speaker.svg' );
defineColorIconClass( green-suitcase, greenColor, '/image/icon/suitcase.svg' );
defineColorIconClass( green-close, greenColor, '/image/icon/x.svg' );
defineColorIconClass( green-thin-close, greenColor, '/image/icon/thin_x.svg' );
defineColorIconClass( blue-close, blueColor, '/image/icon/x.svg' );
defineColorIconClass( red-close, redColor, '/image/icon/x.svg' );
defineColorIconClass( red-100-close, redColor100, '/image/icon/x.svg' );
defineColorIconClass( yellow-close, yellowColor, '/image/icon/x.svg' );
defineColorIconClass( white-map, whiteColor, '/image/icon/map.svg' );
defineColorIconClass( blue-map, blueColor, '/image/icon/map.svg' );
defineColorIconClass( green-plus, greenColor, '/image/icon/plus.svg' );
defineColorIconClass( gray-minus, grayColor, 'image/icon/minus.svg' );
defineColorIconClass( green-minus, greenColor, '/image/icon/minus.svg' );
defineColorIconClass( white-regular-pencil, whiteColor, '/image/icon/regular_pencil.svg' );
defineColorIconClass( green-pencil, greenColor, '/image/icon/pencil.svg' );
defineColorIconClass( white-pencil, whiteColor, '/image/icon/pencil.svg' );
defineColorIconClass( green-user, greenColor, '/image/icon/user.svg' );
defineColorIconClass( green-quotes, greenColor, '/image/icon/quotes.svg' );
defineColorIconClass( green-globe, greenColor, '/image/icon/globe.svg' );
defineColorIconClass( green-logout, greenColor, '/image/icon/logout.svg' );
defineColorIconClass( blue-100-facebook, blueColor100, '/image/icon/facebook.svg' );
defineColorIconClass( blue-500-facebook, blueColor500, '/image/icon/facebook.svg' );
defineColorIconClass( blue-300-facebook, blueColor300, '/image/icon/facebook.svg' );
defineColorIconClass( blue-100-twitter, blueColor100, '/image/icon/twitter.svg' );
defineColorIconClass( blue-500-twitter, blueColor500, '/image/icon/twitter.svg' );
defineColorIconClass( blue-300-twitter, blueColor300, '/image/icon/twitter.svg' );
defineColorIconClass( blue-100-instagram, blueColor100, '/image/icon/instagram.svg' );
defineColorIconClass( blue-500-instagram, blueColor500, '/image/icon/instagram.svg' );
defineColorIconClass( blue-300-instagram, blueColor300, '/image/icon/instagram.svg' );
defineColorIconClass( blue-100-linkedin, blueColor100, '/image/icon/linkedin.svg' );
defineColorIconClass( blue-500-linkedin, blueColor500, '/image/icon/linkedin.svg' );
defineColorIconClass( blue-300-linkedin, blueColor300, '/image/icon/linkedin.svg' );
defineColorIconClass( blue-100-link, blueColor100, '/image/icon/link.svg' );
defineColorIconClass( blue-500-link, blueColor500, '/image/icon/link.svg' );
defineColorIconClass( blue-300-link, blueColor300, '/image/icon/link.svg' );
defineColorIconClass( white-filled-pause, whiteColor, '/image/icon/filled_pause.svg' );
defineColorIconClass( white-filled-play, whiteColor, '/image/icon/filled_play.svg' );
defineColorIconClass( gray-100-card, grayColor100, '/image/icon/card.svg' );
defineFontSizeClasses( 50 75 85 90 100 110 125 150 200 280 400 );
defineFontSizeMediaClasses( 50 75 85 90 100 110 125 150 200 280 400, phone tablet desktop );
defineFontWeightClasses( 500 600 700 );
defineColorClass( 'black', 'black' );
defineColorClass( 'gray', 'gray' );
defineColorClass( 'green', 'green' );
defineColorClass( 'red', 'red' );
defineColorClass( 'white', 'white' );
defineColorClass( 'blue', 'blue' );
defineColorClass( 'transparent', 'transparent' );
defineColorClasses( 'green', 'green', 100 300 450 900 );
defineColorClasses( 'gray', 'gray', 100 300 400 500 550 600 700 900 );
defineColorClasses( 'yellow', 'yellow', 100 200 300 );
defineColorClasses( 'blue', 'blue', 100 300 500 550 600 700 900 )
defineColorHoverClasses( 'green', 'green', 500 );
