 @font-face
{
    font-family: 'Plus Jakarta Sans';
    src: url( '/font/plus_jakarta_sans/plus_jakarta_sans_bold.woff2' );
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}

@font-face
{
    font-family: 'Plus Jakarta Sans';
    src: url( '/font/plus_jakarta_sans/plus_jakarta_sans_medium.woff2' );
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face
{
    font-family: 'Plus Jakarta Sans';
    src: url( '/font/plus_jakarta_sans/plus_jakarta_sans_semibold.woff2' );
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
