// -- IMPORTS

@import 'senselogic-flow/reset.styl';
@import 'senselogic-flow/constant.styl';
@import 'constant.styl';
@import 'mixin.styl';

// -- ELEMENTS

a,
button
{
    transition: color 400ms ease-in-out;
}

a:hover
{
    color: blueColor500;

    transition: color 400ms ease-in-out;
}

button:hover
{
    transition: color 400ms ease-in-out;
}

button
{
    background: unset;

    cursor: pointer;
}

.datepicker .contents-wrapper
{
    position: absolute !important;
    top: -1rem !important;
    left: -1rem !important;
}

.rangeSlider .rangeHandle
{
    cursor: grab !important;
}

.rangeSlider .rangeBar
{
    background-color: blueColor !important;
}

.rangeSlider.range:not( .min ):not( .max ) .rangeNub
{
    border-radius: 1rem !important;

    background-color: whiteColor !important;
}

.rangeSlider.focus .rangeFloat
{
    background-color: blueColor !important;
}

.rangeSlider.pip-labels
{
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.rangePips .pip
{
    display: none;
}
