// -- CLASSES

.value-picker .range
{
    height: valuePickerTrackBarHeight;

    background: valuePickerBarBackgroundColor;
}

.value-picker .slider
{
    height: 1.5rem;
    width: 1.5rem;
    border: unset;

    background: valuePickerBarBackgroundColor;
    box-shadow: 1px 1px 8px 0px rgba(23, 23, 23, 0.1);
}

.value-picker .track
{
    height: valuePickerTrackBarHeight;

    background: valuePickerTrackBarBackgroundColor;
}

.value-picker .text
{
    margin-top: 1rem;

    font-size: valuePickerTextFontSize;
    font-weight: valuePickerTextFontWeight;
    color: valuePickerTextColor;
}

.value-picker .middle-text
{
    color: valuePickerMidleTextColor;
}
